#ifndef SECRETS_H
#define SECRETS_H

// WiFi Credentials
#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"

// Firebase Project Realtime Database Credentials
#define FIREBASE_API_KEY "AIzaSyYOUR_FIREBASE_API_KEY"
#define FIREBASE_DATABASE_URL "https://zguard-iot-default-rtdb.firebaseio.com"

#endif
